.center {
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
}


#new-book {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 375px;
    padding: 10px 10px;
    font-size: 1.2rem;
    cursor: pointer;
    color: white;
    background-color: #b3483e;
    font-family: georgia;
    border-radius: 10px;
    border: none;
}

.add {
    color: #f09696;
    background-color: white;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 40px;
}

.card {
    border: none;
}
.modal-header {
    background-color: #b3483e;
    color: white; 
    font-family: prata; 
    border: none; 
}

.modal-body {
    height: 600px;
    background-color: #efb1bc;
    color: #b3483e;
    font-weight: bold;
}

#err {
    color: #c42e2e;
    font-weight: normal;
}

button .btn-close {
    color: white;
}

.modal-footer {
    background-color: #7e2d2d;
    border: none; 
}

.form-control {
    background-color: #f7eade;
}

.mp {
    margin-top: .5rem;
    font-size: 20px;
    font-family: georgia;
    color: #591914;
}

.extra {
    margin-top: 1rem; 
}

.edit {
    width: 1rem; 
    height: 1rem; 
}

.submit-btn {
    color: white; 
    background-color: #c42e2e;
    outline: hidden; 
}
