body {
    /* background-color: #F2E7DC; */
    background-color: #eaeded;
}

.app-bg {
    width: 600vw; 
    height: 90vh; 
    margin: auto;
    margin-top: 2rem;
    padding: 3rem;
    border: none;
    text-align: center;
    background-color: #f09696;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11),
        0 2px 2px rgba(0, 0, 0, 0.11),
        0 4px 4px rgba(0, 0, 0, 0.11),
        0 8px 8px rgba(0, 0, 0, 0.11),
        0 16px 16px rgba(0, 0, 0, 0.11),
        0 32px 32px rgba(0, 0, 0, 0.11);
}

.app {
    max-width: 70vw;
    height: 80vh;
    margin-top: 4rem;
    margin: auto;
    background-color: #F2E7DC;
    color: #7e2d2d;
    border-radius: 10px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}


h2 {
    font-family: prata;
    padding: 1rem;
    margin-top: 2rem;
    font-size: 2rem;
    color: #7e2d2d;
    font-weight: bolder; 
}

h4 {
    font-family: shirkhand;
    padding: 1rem;
    margin-top: 2.5rem;
    font-size: 2rem;
    color: #7e2d2d;
}

h5 {
    font-family: prata;
    color: white;
    word-spacing: .3rem;
    font-size: 25px;
}
